name: "Update Pull Request"
on: pull_request

jobs:
  update_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        head-branch-regex: 'SHIELD-\d+$'
        lowercase-branch: false  
        title-template: '%headbranch% '
        body-template: |
          https://ericom.atlassian.net/browse/%headbranch%
        body-update-action: 'suffix'
        body-uppercase-base-match: false