name: jira-description-action
on:
  pull_request:
    types: [opened, edited]
jobs:
  add-jira-description:
    runs-on: ubuntu-latest
    steps:
      - uses: riskledger/update-pr-description@dev
        with:
          body: ytzlax # The text you wish to overwrite your Pull Request description with, can be a variable or a string
          token: ${{ secrets.GITHUB_TOKEN }}